<h1>Update Pokemon</h1>

<h2>Edits for <%= @pokmeon.name %></h2>
  
    <form action="/pokemon/<%= @pokemon.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label>Edit the Pokemon's Name:</label>
      <input type="text" name="pokemon[name]" id= "pokemon_name" value="<%= @pokemon.name %>">
      <label>Edit the Pokmeon's Type:</label>
      <input type="text" name="pokemon[element]" id= "pokemon_element" value="<%= @pokemon.element %>">
      
      <br>
        
      <input type="submit" value="Update Pokemon">
      </form>
<br>
<br>
<a href="/welcome">Home Page</a>
<br>
<a href="/logout">Log Out</a>