<h1>This is your Pokedex</h1>
<h2>Here is a list of all the pokemon you own</h2>
<% @pokemon.each do |poke| %>
<h3>Name: <%= poke.name %> Type: <%= poke.element %></h3>
<br>
<a href="/pokemon/<%=poke.id%>/edit">Edit</a>
<br>
<br>
<% end %>
<br>
<br>
<a href="/welcome">Home Page</a>
<br>
<a href="/logout">Log Out</a>