<h1>Welcome to the Pokedex <%= @user.username %></h1>

<h3>You can start by looking at <a href="/trainers">Your Existing Trainers</a> or <a href= "/trainers/new">Creating a Trainer</a></h3>
<br>
<h3>Or you can view <a href="/pokemon">All Existing Pokemon</a> or <a href="/pokemon/new">Add a Pokemon</a></h3>
<br>
<br>
<a href="/logout">Log Out</a>