<h1><%= @trainer.name %></h1>
<h2>Pokemon</h2>
<ul>
    <%@trainer.pokemon.each do |poke| %>
    <li>Name: <%=poke.name%> Type: <%=poke.element%></li>
    <%end%>
</ul>
<br>
<br>
<a href="/welcome">Home Page</a>
<br>
<a href="/logout">Log Out</a>